@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

@import url(https://fonts.googleapis.com/css?family=Six+Caps);


@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Oswald&family=Ubuntu&display=swap');


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


header, nav, section, article, aside, footer, hgroup {
  display: block;
}

.bd{
  background-color: #0e0a1a;
}

/* Header Start */

header{
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: #262658;
  height: 60px ;
  padding-bottom: 55px;
  position: fixed;
  z-index: 10;
  width: 100%;
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.7));
}

.navbar{
  height: 30px;
}

.logo-img{
  width: 70px;
  margin-right: 10px;
}

.manu{
  color: #ffffff;
  display: inline-block;
}

@media screen and (max-width: 770px) {
  .navbar-brand{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .navbar-toggler{
    display: block;
    position: fixed;
    right: 20px;
  }
}


/* Header End */

/* About Start */

.about{
  padding: 55px;
  align-items: center;
  justify-content: center;
  position: relative;

}





/* About End */


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clearfix {
    display: inline-block;
  }
  
  html[xmlns] .clearfix {
    display: block;
  }
  
  * html .clearfix {
    height: 1%;
  }

  html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #000020;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
body {
  background: #000020;
  font-family: 'Poppins', sans-serif;
}

body .page-content {
    margin-top: 120px;
    background-color: #14122c;
    padding: 60px;
    border-radius: 23px;
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.7));
  }

  .main-banner {
    min-height: 380px;
    border-radius: 23px;
    padding: 50px 60px;
    background-color: #262658 ;
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.7));
  }

  /*breakpoints poster*/
  
  @media (max-width: 767px) {
    body .page-content {
      padding: 0px 30px;
    }
    .main-banner {
      text-align: center;
    }

    .poster{
      padding: 0px 30px;
    }

  }

  @media (max-width: 450px) {
    body .page-content {
      padding: 0px 5px;
    }
    .main-banner {
      text-align: center;
    }

    .poster{
      height: 300px;
      width: 30px;

    }

  
  }


  @media (max-width: 400px) {
    body .page-content {
      padding: 0px 5px;
    }
    .main-banner {
      text-align: center;
    }

    .poster{
      height: 300px;
      width: 30px;

    }

   

  }
  
  
/* end breakpoints poster*/
  
 .img-icon{
    width: 40px;
    height:40px;
    margin: 0 15px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    
 }



 .l{
  width: 45px;
  height:45px;
  
 }

 /* glitch */

 .glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  background-color: #262658;
}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #377070;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #4b234b;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
     transform: translate(0);
  }
  20% {
     transform: translate(-2px, 2px);
  }
  40% {
     transform: translate(-2px, -2px);
  }
  60% {
     transform: translate(2px, 2px);
  }
  80% {
     transform: translate(2px, -2px);
  }
  to {
     transform: translate(0);
  }
}
 /* end glitch*/

 /*mq escribir*/
 .cont {
	margin: auto;
	display: table;
}

.im { 
	position: relative; 
	float: left;
	background: #262658;
	color: #fff;
	font-size: 2.5em;
  justify-content: left;
}

.im span {
    position:absolute;
    right:0;
    width:0;
    background: #262658;
    border-left: 1px solid #000;
    animation: escribir 3s steps(30)  alternate;
}




@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.full{
  font-size: 1.5em;
  top: 15px;
}

/*end mq escribir*/

/*zoom media*/

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*end zoom media*/

/*poster effects*/

.poster{
  height: 200px;
  width: 300px;
  background: url(../images/Manu.jpg) no-repeat center;
  background-size: cover;
  margin: 20px auto;
  border-style:solid;
  border-radius: 80px;
  border: #151531 10px solid;

}

.poster:hover{
  box-shadow: 0px 0px 50px rgba(0,0,0, 1);
 transition: box-shadow .1s, transform;
}

/*end poster effects*/

/*parrafo start*/

.abo{
  color: white;
  text-align: justify;
  height: 40px;
  /* centrado vertical */
  position: absolute;
  top: 40%;
  width: 66%;
  left:  90px;
  z-index: 5;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  letter-spacing: -1.5px;
  word-spacing: .15em;
}

.ls{
 background-color:  #14122c;
 filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0)); 
  box-shadow: 16px 14px 20px #0000008c;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.ls::before{
  content: "";
  position: absolute;
  height: 700px;
  width: 700px;
  background-image: conic-gradient(blue 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
  text-align: left;
}

.ls::after{
  content: "";
  position: absolute;
  height: 370px;
  width: 470px;
  background-color: #262658;
  border-radius: 15px;
  box-shadow: inset 16px 14px 20px #000000;
  text-align: left;
}

@keyframes rotar {
  from{
    transform:rotate(0deg) ;

  }
  to{
    transform: rotate(360deg);
  }
}

@media (max-width: 1600px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 1.8vw;
    text-align: justify;
    align-content: center;
    top: 55px;
    left: 60px;

  }

  .ls{
      height: 390px;
      max-width: 500px;  
  }
 

}



@media (max-width: 1400px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2vw;
    text-align: justify;
    align-content: center;
    top: 55px;
    left: 60px;

  }

  .ls{
      height: 390px;
      max-width: 500px;  
  }
 

}

@media (max-width: 1300px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.02em ;
    width: 80%;
    height: 90px;
    font-size: 2.1vw;
    text-align: justify;
    align-content: center;
    top: 55px;
    left: 60px;


  }

  .ls{
      height: 390px;
      max-width: 500px;  
  }
 

}

@media (max-width: 1260px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 75%;
    height: 90px;
    font-size: 2.1vw;
    text-align: justify;
    align-content: center;
    top: 25px;
    left: 80px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 1200px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2.02vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 40px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}


@media (max-width: 1050px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2.2vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 40px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 1000px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2.6vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 950px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2.7vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 900px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 2.8vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 850px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 3vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}
@media (max-width: 800px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 3.2vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}
@media (max-width: 750px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 3.3vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 60px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 650px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 3.7vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 50px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

  .page-content.new{
    max-width: 624.8px;

  }

}

@media (max-width: 600px) {


  
  .abo{
    word-wrap: break-word;
    white-space: 0.03;
    width: 80%;
    height: 90px;
    font-size: 3.9vw;
    text-align: justify;
    align-content: center;
    top: 45px;
    left: 40px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 550px) {


  .abo{
    word-wrap: break-word;
    white-space: 0.5em;
    width: 85%;
    height: 90px;
    font-size: 4.2vw;
    text-align: center;
    align-content: center;
    top: 45px;
    left: 30px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}

@media (max-width: 450px) {


  .abo{
    word-wrap: break-word;
    width: 85%;
    height: 90px;
    font-size: 4.5vw;
    text-align: center;
    align-content: center;
    top: 45px;
    left: 20px;
    padding: 10px;

  }

  .ls{
      height: 390px;
      max-width: 500px;
      justify-content: center;
      text-align: justify;
      margin-top: 10px;
  }

}




/*parrafo end*/

/* post effects*/
#post{

  height: 300px;
  width: 500px;
  background: url(../images/Main_Logo__1_-removebg-preview.png) no-repeat center;
  background-size: cover;
  margin: 30px auto;
  z-index: 1000;
  align-items: end;
}

#post:hover{
 
 transition: box-shadow .1s, transform;
}


/* end post effects*/


/* about me effects*/

.bod{
  margin-top: 90px;
  margin-bottom: -90px;

}

.ab{
  text-align: center;
  text-decoration: none; 
  top: 50%;
	left: 40%;
  transform: translate(-50%, -50px);
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  position: relative;
  border-width: 0.1em;
  font-size: 50px;
  line-height: 1em;
  color: #FFFFFF;
  z-index: 1;  
}

.ab::before,
.ab::after,
.span::before,
.span::after {
	content: '';
	position: absolute;
	width: 38px;
	height: 38px;
	background: transparent;
	transition: 1s;

}


.ab::before {
	top: -2px;
	left: -2px;
	border-top: 6px solid rgb(255, 255, 255);
	border-left: 6px solid rgb(255, 255, 255);
}

.ab::after {
	top: -2px;
	right: -2px;
	border-top: 6px solid rgb(250, 250, 250);
	border-right: 6px solid rgb(255, 255, 255);
}

.span::before {
	bottom: -2px;
	left: -2px;
	border-bottom: 6px solid rgb(255, 255, 255);
	border-left: 6px solid rgb(255, 255, 255);
}
.span::after {
	bottom: -2px;
	right: -2px;
	border-bottom: 6px solid rgb(255, 255, 255);
	border-right: 6px solid rgb(255, 255, 255);
}

.ab:hover::before,
.ab:hover::after,
.ab:hover span::before,
.ab:hover span::after  {
	width: calc( 400px / 2);
	height: calc( 200px / 2);
}




@media screen and (max-width: 1000px) {

  .ab{
    left: 40%;
    font-size: 50px;
  }

}

@media screen and (max-width: 900px) {

  .ab{
    left: 35%;
    font-size: 40px;
  }

}

@media screen and (max-width: 500px) {

  .ab{
    left: 30%;
    font-size: 30px;
  }

}



@media screen and (max-width: 400px) {

  .ab{
    left: 20%;
    font-size: 30px;
  }

}


/* end about me effects*/


/*Projects start section*/

.projects{
  text-align: center;
  margin-top: 50px;
  margin-bottom: -6 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}
.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #3f0d9b;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 40px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 8px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
/*Projects end section*/

/*Projects hover*/
.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img::before,
.hover-img::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}